.search-component {
  margin-top: 50px;
}

.input,
.dropdown {
  display: inline-block;
}

.input {
  width: 200px;
}

.dropdown {
  padding: 4px 8px;
}

.search-result {
  width: 200px;
  position: absolute;
  list-style: none;
  background-color: #fff;
}

.search-result li {
  border: 2px solid #1ABC9C;
  border-top: none;
}

.search-result li:hover {
  color: #fff;
  background-color: #1ABC9C;
}

.search-result li a {
  display: block;
  padding: 4px 6px;
}
