<div class="search-component">
  <input
    [(ngModel)]="searchInput"
    (keyup)="searchChar(searchInput)"
    class="input"
    placeholder="Search character at {{ charType }}">
  <select
    #searchCharType
    (change)="changeCharType(searchCharType.value)"
    class="dropdown">
    <option
      *ngFor="let char of characterTypes"
      value="{{char}}">
      {{ char | titlecase }}
    </option>
  </select>

  <ul class="search-result">
    <li *ngFor="let char of characters$ | async">
      <a routerLink="/characters/{{charType}}/{{char.id}}"> {{ char.name }} </a>
    </li>
  </ul>
</div>
