:host {
  margin-bottom: 15px;
}

.subtitle {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 8px;
}

.top-hero {
  cursor: pointer;
  float: left;
  width: 24%;
  margin: 0 0.5%;
  height: 100px;
  background-color: #3498DB;
}

.top-hero:hover {
  background-color: #2980B9;
}

.top-hero:first-child {
  margin: 0 1% 0 0;
}

.top-hero:last-child {
  margin: 0 0 0 1%;
}

@media (max-width: 640px) {
  .top-hero-list {
    margin-bottom: 10px;
  }

  .top-hero {
    width: 100%;
    float: none;
  }

  .top-hero, .top-hero:first-child, .top-hero:last-child {
    margin: 0;
  }
}

h4 {
  font-size: 16px;
  color: #fff;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
