<h2 class="subtitle">Top {{ charType | titlecase }} </h2>

<spinner *ngIf="retrievingCharacters"></spinner>

<div *ngIf="characters?.length > 0">
  <div class="top-hero-list">
    <div
      *ngFor="let character of characters"
      routerLink="/characters/{{ charType }}/{{ character.id }}"
      class="top-hero">
      <h4> {{ character.name }} </h4>
    </div>
  </div>
  <div class="clear"></div>
</div>

<p *ngIf="characters && characters.length === 0 && !retrievingCharacters"> No available {{ charType }} yet! </p>
