<div class="container">
  <div class="inner-container">
    <div *ngIf="characterTypes.length > 0">
      <app-character-search [characterTypes]="characterTypes"></app-character-search>
      <app-character-list
        *ngFor="let charType of characterTypes"
        [charType]="charType">
      </app-character-list>
    </div>
  </div>

  <p *ngIf="characterTypes.length === 0"> All characters left :( There's nothing here... </p>
</div>
