header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: #374660;
  color: #fff;
}

h1 {
  font-size: 24px;
  font-weight: 100;
  text-align: center;
  padding: 25px 12px;
}

nav {
  width: 100%;
}

a {
  font-weight: 400;
  font-size: 18px;
  display: block;
  padding: 20px 0;
  text-align: center;
  color: #fff;
  letter-spacing: 1px;
  border-bottom: 2px solid #303D53;
}

.active-link,
a:hover {
  color: #00C5A1;
  background-color: #303D53;
}
