<header>
  <h1> {{ title }} </h1>
  <nav *ngIf="characterTypes && characterTypes.length > 0">
    <a routerLink="/characters">Dashboard</a>
    <a
      *ngFor="let char of characterTypes"
      routerLink="/characters/{{ char }}"
      routerLinkActive="active-link">
      {{ char | titlecase }}
    </a>
  </nav>
</header>