<div class="container">
  <div class="inner-container">
    <h2 class="subtitle"> List of {{ charType | titlecase }} </h2>

    <input [formControl]="filterInput"
            class="input"
            placeholder="Search character at {{ charType }}">

    <!-- Add Character form -->
    <add-character
      *ngIf="addModalIsActive"
      [charType]="charType"
      (emitRefreshCharactersTable)="getCharacters()"
      (emitCloseAddCharacterModal)="toggleAddCharacterModal()">
    </add-character>
    <button (click)="toggleAddCharacterModal()"> Add New Character </button>

    <br><br>

    <!-- For character table list -->
    <spinner *ngIf="retrievingCharacters"></spinner>
    <characters-table
      [charType]="charType"
      [characters]="characters"
      (emitSortCharacters)="sortCharacters($event)"
      (emitDeleteCharacter)="deleteCharacter($event)">
    </characters-table>
    <p *ngIf="!retrievingCharacters && characters.length === 0">
      No {{ charType }} found :(
    </p>

    <!-- For character detail edit child route -->
    <router-outlet></router-outlet>
  </div>
</div>
