h2 { 
  float: left;
}

.input {
  float: right;
}

button {
  float: right;
  padding: 0 12px;
  margin-right: 10px;
  height: 30px;
  color: #fff;
  background-color: #1ABC9C;
}

button:hover {
  color: #1ABC9C; 
  background: #fff;
}

p {
  text-align: center;
  padding: 10px;
  font-size: 18px;
}
