<div *ngIf="retrievingForms" class="small-spinner-container">
  <small-spinner></small-spinner>
</div>

<form *ngIf="characterForms.length > 0"
      [formGroup]="form">

  <div *ngFor="let characterForm of characterForms">
    
    <div [formGroup]="form" class="form-control">   
      <div [ngSwitch]="characterForm.controlType">
        <input
          *ngSwitchCase="'textbox'"
          [(ngModel)]="char[characterForm.key]"
          [formControlName]="characterForm.key"
          [id]="characterForm.key"
          [type]="characterForm.type"
          placeholder="{{ charType | titlecase }} {{ characterForm.key | titlecase }}"
          class="input"
          [class.invalid]="isFormSubmitted && !isValid(characterForm)"
          (keyup)="isFormSubmitted = false">
        
        <select
          *ngSwitchCase="'dropdown'"
          [(ngModel)]="char[characterForm.key]"
          [formControlName]="characterForm.key"
          [id]="characterForm.key"
          class="dropdown">
          <option
            *ngFor="let opt of characterForm.options"
            [value]="opt.key">
            {{ opt.value }}
          </option>
        </select>
      </div>
    
      <div *ngIf="isFormSubmitted">
        <p *ngFor="let err of errorMessages(characterForm)" class="error-msg"> {{ err }} </p>
      </div>
    
    </div>
  </div>
  <br>

  <!-- If character property has no id.. buttons are for adding new character -->
  <div *ngIf="!char.id; else editModeButtons">
    <button type="button" (click)="confirm()"> Save to {{ charType }} </button>
    <button type="button" (click)="discardAddCharacterModal()"> Cancel </button>
  </div>

  <!-- Buttons for editing character -->
  <ng-template #editModeButtons>
    <div *ngIf="editMode; else notEditMode">
      <button type="button" (click)="confirm()"> Save to {{ charType }} </button>
      <button type="button" (click)="discard()"> Cancel </button>
    </div>
    <ng-template #notEditMode>
      <button type="button" (click)="toggleEditMode()"> Edit </button>
      <button type="button" (click)="goBack()"> Close </button>
    </ng-template>
  </ng-template>

  <div class="clear"></div>
</form>
