.form-control {
  margin-bottom: 10px;
}

.input {
  width: 100%;
}

.dropdown {
  padding: 4px;
  width: 100%;
}

button {
  float: left;
  width: 49%;
  padding: 8px;
  margin: 0 0.5%;
  font-weight: normal;
}

button:hover {
  color: #fff;
  background-color: #1ABC9C;
}

.invalid {
  border: 2px solid #C0392B;
}

.error-msg {
  text-align: center;
  color: #C0392B;
  padding: 2px;
}

.small-spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

small-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
