<spinner *ngIf="retrievingCharacter"></spinner>

<div *ngIf="char && charType; else noCharacter" class="whole-screen">
  <div class="wrapper">
    <h2 class="subtitle">{{ char.name | titlecase }} Details: </h2>
    
    <character-details-form
      [char]="char"
      [charType]="charType"
      (emitResetCharactersTable)="refreshCharactersTable()">
    </character-details-form>
  </div>
</div>
