h2 {
  margin-bottom: 12px;
}

button {
  width: 100%;
  padding: 8px;
  margin-top: 15px;
  border: 2px solid #34495E;
}

button:hover {
  color: #fff;
  background-color: #34495E;
}

.wrapper {
  min-height: 200px;
}
