<div class="whole-screen">
  <div class="wrapper">
    <h2 class="subtitle"> Add New Character! </h2>
    <character-details-form
      [charType]="charType"
      (emitResetCharactersTable)="resetTable()"
      (emitCloseAddCharacterModal)="closeModal()">
    </character-details-form>
  </div>
</div>
