:host {
  display: none;
}

:host.active {
  display: block;
}

.wrapper {
  width: 360px;
}

p {
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  padding-bottom: 24px;
}

button {
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 6px 12px;
}

button.choice {
  float: left;
  width: 48%;
  margin: 0 1%;
}

button.info {
  border: 2px solid #3498DB;
  background-color: #3498DB;
}

button.info:hover {
  color: #3498DB;
  background-color: #fff;
}

button.yes {
  border: 2px solid #2ECC71;
  background-color: #2ECC71;
}

button.yes:hover {
  color: #2ECC71;
  background-color: #fff;
}

button.no {
  border: 2px solid #E74C3C;
  background-color: #E74C3C;
}

button.no:hover {
  color: #E74C3C;
  background-color: #fff;
}
