<div class="whole-screen">
  <div class="wrapper">
    <p> {{ message }} </p>

    <button type="button" *ngIf="!onOkay && onCancel" (click)="defaultOnCancel()" class="info"> Get outta here! </button>
    
    <button type="button" *ngIf="onOkay" (click)="defaultOnOkay()" class="choice yes"> Hell yeah! </button>
    <button type="button" *ngIf="onOkay" (click)="toggleIsActiveMode()" class="choice no"> Hell no! </button>

    <div class="clear"></div>
  </div>
</div>
