table {
  width: 100%;
  margin: 10px auto;
  background: #fff;
  border-spacing: 0;
  -webkit-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.75);
}

tr:nth-child(even) {
  background-color: #ECF0F1;
}

tr:first-child {
  background-color: #1ABC9C;
  color: #fff;
}

th {
  cursor: pointer;
}

th:hover {
  background-color: #27AE60;
}

th, td {
  padding: 8px;
  text-align: center;
}

td:first-child {
  color: #1ABC9C;
}

.upcase {
  text-transform: capitalize;
}

.delete {
  cursor: pointer;
  width: 25px;
  height: 25px;
  color: #fff;
  border-radius: 50%;
  border: none;
  display: block;
  margin: 0 auto;
  background: #E74C3C;
}

p {
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.sort:hover {
  color: #00ff6c;
}
