<table *ngIf="characters && tableHeaders && tableHeaders.length > 0 && characters.length > 0">
  <tr class="categories">
    <th *ngFor="let header of tableHeaders" (click)="sortBy(header)"> {{ header | uppercase }}
      <a class="sort">
        &nbsp; &nbsp; {{ getSortSymbol(header) }}
      </a>
    </th>
    <th> DELET DIS </th>
  </tr>
  <tr *ngFor="let character of characters">
    <td *ngFor="let key of tableHeaders">
      <a *ngIf="key === 'id'" routerLink="{{ character[key] }}"> {{ character[key] }} </a>
      <a *ngIf="key !== 'id'" [class.upcase]="key === 'rating'"> {{ character[key] }} </a>
    </td>
    <td><button class="delete" (click)="confirmDelete(character)"> X </button></td>
  </tr>
</table>
