* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-size: 14px;
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

h1, h2, h3 {
  font-family: 'Roboto', 'Open Sans', sans-serif;
}

h2.subtitle {
  color: #2C3E50;
  font-size: 22px;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  width: 250px;
}

.container {
  margin-left: 250px;
}

.inner-container {
  width: 95%;
  margin: 30px auto 0 auto;
}

.whole-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.wrapper {
  width: 100%;
  max-width: 480px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 25px;
}

.input,
.dropdown {
  display: block;
  height: 30px;
  border: 2px solid #1ABC9C;
  border-radius: 5px;
  outline: none;
  background: #fff;
  padding: 8px;
}

.input:disabled,
.dropdown:disabled {
  border: 2px solid #BDC3C7;
}

button {
  cursor: pointer;
  outline: none;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid #1ABC9C;
}

.clear {
  content: "";
  display: block;
  clear: both;
}
